NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_TRANSFORMATION=price_...
STRIPE_PRICE_NUTRITION=price_...
STRIPE_PRICE_BUNDLE=price_...
NEXT_PUBLIC_BASE_URL=http://localhost:3000
RESEND_API_KEY=re_...
FROM_EMAIL=orders@fitzone.com
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
JWT_SECRET=
USER_JWT_SECRET=
ADMIN_PASSWORD=
