NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
STRIPE_SECRET_KEY=sk_live_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
RESEND_API_KEY=re_...
FROM_EMAIL=orders@fitzone.com
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
